/* Base */
:root {
    --max-width     : 1200px;
    --inner-padding : 24px;
    --inner-width   : 1248px;
    --breakpoint    : 768px;
    --breakpoint-min: 375px;
    --inner-width   : 75rem;
    --inner-padding : 1.5rem;
    --breakpoint    : 48rem;
    --breakpoint-min: 23.4375rem;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size      : 100%;
}

/* ~375px */
@media (max-width: 375px) {
    html {
        font-size: 4.2666vw;
    }
}

/* 768px ~ インナー幅 + 余白 */
@media (min-width: 768px) {
    html {
        font-size: clamp(10px, 1.282051282051282vw, 16px);
    }
}

/*  */

body {
    font-family: 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    margin     : 0;
}

img {
    width         : 100%;
    height        : auto;
    vertical-align: bottom;
}

h1,
h2,
h3 {
    margin     : 0;
    font-size  : unset;
    font-weight: unset;
}

a {
    text-decoration: none;
    color          : #000;
}

ul {
    margin: 0ch;
}

section {
    scroll-margin-top: 6rem;
}

@media (min-width: 768px) {
    section {
        scroll-margin-top: 8.5625rem;
    }
}

p {
    margin: 0;
}

button {
    padding: 0;
}

/* ***************** */
/* Layout */

/* Inner width */
/* 最大コンテンツ幅を規定 */
.l-inner {
    margin-right : auto;
    margin-left  : auto;
    max-width    : 78rem;
    padding-right: 1.5rem;
    padding-left : 1.5rem;
}

/* Header */
/* 最上部に固定し、スクロールに追従 
 * SP版では上下のpaddingを小さくし、本文の表示領域を確保
 */
.l-header {
    top             : 0;
    position        : fixed;
    width           : 100%;
    background-color: #fff;
    z-index         : 99;
}

/* First View */
.l-fv {
    margin-top              : 6rem;
    width                   : 100%;
    height                  : 70vh;
    /* From 400px@320px To 823@800px */
}

@media (min-width: 768px) {
    .l-fv {
        margin-top           : 8.5625rem;
        height               : 51.4375rem;
        height               : clamp(25rem, 7.37500rem + 88.12500vw, 51.4375rem);
    }
}

/* ***************** */
/* Component */
/* セクションタイトル */
.c-section-heading {
    font-size     : 1.5rem;
    font-family   : 'Montserrat', 'メイリオ', 'Meiryo', 'ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    font-weight   : 700;
    text-transform: uppercase;
    text-align    : center;
    line-height   : calc(44/36);
}

@media (min-width: 768px) {
    .c-section-heading {
        font-size: 2.25rem;
    }
}

.c-section-heading span {
    display    : block;
    font-size  : 0.875rem;
    font-weight: 400;
    margin-top : 0.67rem;
}

/* カードタイプ1 */
.c-cards1 {
    display       : flex;
    flex-direction: column;
    column-gap    : 2.5%;
    row-gap       : 1.875rem;
}

@media (min-width: 768px) {
    .c-cards1 {
        flex-direction: row;
    }
}

.c-cards1__item {
    margin-right: auto;
    margin-left : auto;
    /* SP版でも757px~500pxくらいまでは巾が広いのでvwで制限 */
    width       : 70vw;
}

.c-card1 {
    background-color: #fff;
    border-radius   : 4.625rem;
    padding         : 1.875rem 2.5rem 4.625rem;
}

.c-card1__image {
    margin-right: auto;
    margin-left : auto;
    text-align  : center;
    max-width   : 12.5rem;
}

.c-card1__heading {
    margin-top    : 0.625rem;
    text-align    : center;
    font-size     : 1.1875rem;
    font-weight   : 700;
    letter-spacing: 0.06rem;
}

.c-card1__heading--fullbleed {
    margin-right: -2.5rem;
    margin-left : -2.5rem;
}

.c-card1__text {
    margin-top    : 0.75rem;
    letter-spacing: 0.02rem;
}

/* カードタイプ2 */
.c-cards2 {
    display              : grid;
    grid-template-columns: 1fr;
    column-gap           : 2.5%;
    row-gap              : 4rem;
}

@media (min-width: 768px) {
    .c-cards2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.c-cards2__item {
    /* SP版でも757px~500pxくらいまでは巾が広いのでvwで制限 */
    width       : 70vw;
    justify-self: center;
}

@media (min-width: 768px) {
    .c-cards2__item {
        width: unset;
    }
}

.c-card2 {}

.c-card2__image img {
    object-fit  : cover;
    aspect-ratio: 380 / 269;
}

.c-card2__content {
    margin-top: 1.25rem;
}

.c-card2__heading {
    margin-top    : 0.25rem;
    font-size     : 1.1875rem;
    font-weight   : 700;
    letter-spacing: 0.06rem;
    text-align    : center;
}

@media (min-width: 768px) {
    .c-card2__heading {
        text-align: unset;
    }
}

.c-card2__description {
    margin-top    : 1rem;
    letter-spacing: 0.02rem;

}

/* moreボタン */
.c-more-button {
    font-family     : 'Montserrat', sans-serif;
    font-size       : 1.5rem;
    text-transform  : uppercase;
    border-radius   : 0;
    border          : solid 1px #000;
    background-color: transparent;
    position        : relative;
    z-index         : 2;
}

.c-more-button::before {
    position        : absolute;
    content         : "";
    width           : 100%;
    height          : 100%;
    background-color: #c7c8c0;
    top             : 0;
    left            : 0;
    z-index         : -1;
    transition      : opacity .3s;
    opacity         : 0;
}

.c-more-button:hover::before {
    opacity   : 1;
    transition: opacity .3s;
}

.c-more-button a {
    display: inline-block;
    padding: 0.9375rem 3.75rem 0.88rem;
}

/* ***************** */
/* Header(Project) */
.p-header {
    padding-top     : 1.5rem;
    padding-bottom  : 1.5rem;
    background-color: #fff;
    transition      : top .3s;
    box-shadow      : 0 5px 5px rgba(128, 128, 128, .5);
}

/* PC版では上下のpaddingをカンプ通りの値に設定 */
@media (min-width: 768px) {
    .p-header {
        padding-top   : 2.9375rem;
        padding-bottom: 3.625rem;
    }
}

/* ヘッダの内容は横並び */
.p-header__content {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    align-items    : center;
}

/* ロゴ */
.p-header__logo {
    font-family   : 'Montserrat', sans-serif;
    font-size     : 1.625rem;
    font-weight   : 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

/* ***************** */
/* ナビゲーション
 * SP版では上部側に退避させ非表示
 * メニューボタンが押されたらスライドダウン
 * 高さも固定(vh)
 */
.p-header__nav {
    position: fixed;
    top     : -45vh;
    left    : 0;
    height  : 40vh;
    width   : 100%;
}

/* SP版はtopの操作でメニュー欄を移動 */
.p-header__nav.js-active {
    top       : 0;
    transition: top .3s;
}

/* ナビゲーション */
.p-nav {
    background-color: #fff;
    /* SP版はnavにドロップシャドウ */
    box-shadow      : 0 5px 5px rgba(128, 128, 128, .5);
}

/* PC版はボックスシャドウは無し */
@media (min-width: 768px) {
    .p-nav {
        box-shadow: unset;
    }
}

/* PC版は表示状態に設定 */
@media (min-width: 768px) {
    .p-nav {
        display : block;
        position: static;
        height  : unset;
        width   : unset;
    }
}

/* メニューは
 * SP版：縦並び
 * PC版：横並び
 */
.p-nav__items {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    height         : 100%;
    column-gap     : 2.8rem;
    row-gap        : 2.8rem;
    padding-left   : 4rem;
}

@media (min-width: 768px) {
    .p-nav__items {
        flex-direction : row;
        height         : unset;
        justify-content: normal;
    }
}

/* メニューの各アイテム */
.p-nav__item {
    list-style    : none;
    font-family   : 'Montserrat', sans-serif;
    font-size     : 1.625rem;
    font-weight   : 700;
    letter-spacing: 0.10rem;
    /* SP版はメニューopen時に右から左に向かってフェードイン */
    position      : relative;
    left          : 10rem;
    opacity       : 0;
    transition    : left .3s .2s, opacity .3s .2s;
    text-transform: uppercase;
}

/* PC版はメニューの位置は固定 */
@media (min-width: 768px) {
    .p-nav__item {
        left   : 0;
        opacity: 1;
    }
}

.p-nav__item a:hover {
    text-decoration: underline;
}

.js-active .p-nav__item {
    left   : 0;
    opacity: 1;
}

/* ハンバーガーメニュー */
/*ボタン外側*/
.p-header__openbtn {
    /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed+top、rightといった位置をセットで指定*/
    position     : relative;
    background   : #fff;
    cursor       : pointer;
    width        : 3rem;
    height       : 3rem;
    border-radius: .3rem;
}

/*ボタン内側*/
.p-header__openbtn span {
    display      : inline-block;
    transition   : all .4s;
    /*アニメーションの設定*/
    position     : absolute;
    left         : 25%;
    height       : 3px;
    border-radius: 2px;
    background   : #888;
    width        : 50%;
}

.p-header__openbtn span:nth-of-type(1) {
    top: calc(30% - 1.5px);
}

.p-header__openbtn span:nth-of-type(2) {
    top: calc(50% - 1.5px);
}

.p-header__openbtn span:nth-of-type(3) {
    top: calc(70% - 1.5px);
}

/*activeクラスが付与されると線が回転して×に*/
.p-header__openbtn.js-active span:nth-of-type(1) {
    top      : calc(50% - 1.5px);
    left     : calc(25%);
    transform: rotate(-45deg);
    width    : 50%;
}

.p-header__openbtn.js-active span:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
}

.p-header__openbtn.js-active span:nth-of-type(3) {
    top      : calc(50% - 1.5px);
    left     : calc(25%);
    transform: rotate(45deg);
    width    : 50%;
}

@media (min-width: 768px) {
    .p-header__openbtn {
        display: none;
    }
}



/* ***************** */
/* First View */
.p-fv {
    background-image        : url(../img/fv.jpg);
    background-size         : cover;
    background-position     : center;
    background-repeat       : no-repeat;
    /* SP版は背景画像を固定 */
    /* background-attachment: fixed; */
    /* iOS Safariのバグのため中止 */
    text-align              : center;
    padding-top             : clamp(6.25rem, -2.00000rem + 41.25000vw, 18.625rem);
    /* From 100px@320px To 298@800px */
    padding-top             : 20vh;
}

@media (min-width: 768px) {
    .p-fv {
        padding-top          : clamp(6.25rem, -2.00000rem + 41.25000vw, 18.625rem);
        /* PC版は背景画像をスクロールさせる */
        background-attachment: scroll;
    }
}

.p-fv__heading {
    font-family   : 'Courier New', Courier, monospace;
    font-size     : 3rem;
    font-weight   : 700;
    letter-spacing: 0.4rem;
    color         : #fff;
}

@media (min-width: 768px) {
    .p-fv__heading {
        font-size: 5rem;
    }
}

/* ***************** */
/* Service */
.p-service {
    background-color: #f6f6f6;
    padding-top     : 3.75rem;
    /* SP版はセクション間のpaddingを小さくする */
    padding-bottom  : 5rem;
}

@media (min-width: 768px) {
    .p-service {
        padding-bottom: 6.25rem;
    }
}

/* カード
 * SP版：縦並び
 * PC版：横並び
 */
.p-service__cards {
    margin-top: 4rem;
}

.p-service__more {
    margin-top: 3rem;
    text-align: center;
}

@media (min-width: 768px) {
    .p-service__more {
        margin-top: 5.625rem;
    }
}

/* ***************** */
/* Works */
.p-works {
    padding-top   : 4.9375rem;
    /* SP版はセクション間のpaddingを小さくする */
    padding-bottom: 5rem;
}

@media (min-width: 768px) {
    .p-works {
        padding-bottom: 3.125rem;
    }
}

/* カード
 * SP版：縦並び
 * PC版：横並び
 */
.p-works__cards {
    margin-top: 4.6875rem;
}

.p-works__card {
    /* SP版でも757px~500pxくらいまでは巾が広いのでvwで制限 */
    width       : 70vw;
    min-width   : 20.4375rem;
    justify-self: center;
}

@media (min-width: 768px) {
    .p-works__card {
        width: unset;
    }
}

.p-works__more {
    margin-top: 3rem;
    text-align: center;
}

@media (min-width: 768px) {
    .p-works__more {
        margin-top: 8.125rem;
    }
}

/* ***************** */
/* Footer */

.p-footer {
    font-size       : 0.875rem;
    background-color: #a7a4a4;
    text-align      : center;
    padding-top     : 2.5rem;
    padding-bottom  : 2.5rem;
    letter-spacing  : 0.1rem;
}

/* Utility */
@media (min-width: 768px) {
    .u-sp-only {
        display: none;
    }
}